<!--This page basically shows the new article that were created-->
<h1>
  Showing selected articles
</h1>

<p>
  Title: <%= @article.title %>
</p>

<p>
  Description: <%= @article.description %>
</p>

<!--Link to edit the article that they view, don't forget to give the article-->
<%= link_to "Edit this article", edit_article_path(@article) %> |
<!--Creating a link so they can go back-->
<%= link_to "Back to articles listing", articles_path %>