<!DOCTYPE html>
<html>
  <head>
    <title>Alpha blog - about</title>
  </head>
  <body>
    <h1>
      This is the bloody about page
    </h1>
    <%= link_to 'Home', root_path %> 
    <p>
      Welcome to the about page where it is really 
      all about me... or you, just whatever is easier. 
      This is what I do, create boring websites when 
      I am bored as they have very little colour in them, 
      Yes i'm not from the USA, there are people who live 
      outside of that country ya fucking cunts. Sorry got 
      carried away there for a bit, so if you want to have 
      a good old chat with me feel free to go to the 
      contact page (even though it has not been set up yet) 
      and write me a message, I will love it as I wont reply.
    </p>
    <p>
      Good day, or night depending on when you visited 
      this bloody website or page.
    </p>
  </body>
  <footer>
    <p>
      Bloody footer, I have no information to give really
    </p>
  </footer>
</html>
