<!DOCTYPE html>
<html>
  <head>
    <Title>Alpha Blog - home</Title>
  </head>
  
  <body>
    <h1>
      Welcome to the edge of reason
    </h1>

    <%= link_to 'About', about_path %> 
    
    <p>
      Here is some bloody good content that you 
      should or shouldn't read. It is really up to you 
      as you are the dumb one reading that so by all 
      means have some fun ya dickhead!
    </p>
  </body>
  
  <footer>
    <p>
      Here is a footer and here is some top quality 
      information in this bloody footer
    </p>
    <p>
      Created by: Your mum!
    </p>
    <p>
      Contact information: 0800 get fucked ya dickhead!
    </p>
  </footer>

</html>