<!DOCTYPE html>
<html>
  <head>
    <Title>Alpha Blog - home</Title>
  </head>
  
  <body>
    <div class="center jumbotron">
      <h1>
        Welcome to the edge of reason
      </h1>
      <%= link_to "sign up now", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
    </div>

    
    <p>
      Here is some good content that you 
      should or shouldn't read. It is really up to you 
      as you are the one reading that so by all 
      means have some fun!
    </p>
  </body>
  
  <!--<footer>
    <p>
      
    </p>
    <p>
      
    </p>
    <p>
    </p>
  </footer>-->

</html>