<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.udemy.com">The complete ruby on rails developer</a> by Bob McCone
      <p>
        Here is a footer and here is some top quality 
        information in this bloody footer
      </p>
      <p>
        Created by: Your mum!
        Contact information: 0800 get fucked ya dickhead!
      </p>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>