<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <!--This displays the message when an article gets created-->
    <% flash.each do |name, msg| %>
      <!--Alert message pop up-->
      <div class='alert alert-<%="#{name}" %>'>
        <!--Creating an x box so they can close the message pop up-->
        <a href="#" class="close" data-dismiss="alert">&#215;</a>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      </div> 
    <% end %>
  </div>
</div>
